   body {
    font-family: 'Poppins', sans-serif;
    color: white;
    margin: 0;
    background: rgb(1, 1, 48);
    overflow-x: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
.site-header {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(14, 0, 20, 0.6);
    backdrop-filter: blur(100);
    z-index: 100;
}

.header-layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.brand a {
    color:rgb(85, 12, 58);;
    font-weight: 700;
    font-size: 1.5rem;
    text-decoration: none;
}

.main-nav {
    display: flex;
    align-items: center;
    gap: 2rem;
    position: relative;
}

.main-nav a {
    color: whitesmoke;
    text-decoration: none;
    font-weight: 500;
    padding: 8px 0;
    position: relative;
    display: inline-block;
}

.main-nav a::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 2px;
    background: rgb(219, 9, 142);
    transition: width 0.4s ease;
}

.main-nav a:hover::after {
    width: 100%;
}

.dropdown {
    position: relative;
}

.drop-link {
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: rgba(0,0,0,0.85);
    backdrop-filter: blur(6px);
    border-radius: 6px;
    padding: 10px 0;
    min-width: 160px;
    flex-direction: column;
    z-index: 999;
}

.dropdown-content a {
    display: block;
    color: white;
    padding: 10px 16px;
    white-space: nowrap;
    text-decoration: none;
    transition: 0.2s;
}

.dropdown-content a:hover {
    background: rgba(255,255,255,0.08);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.cta {
    background: rgb(85, 12, 58);
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.3s ease;
}

.cta:hover {
    background: white;
    color: rgb(85, 12, 58);
}
      
.main-banner {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    padding: 0 20px;
}

.main-banner video {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
    filter: brightness(55%);
}

.overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.7));
    z-index: -1;
}

.banner-content {
    max-width: 950px;
    margin-top: 70px;
}

.hero-title {
    font-size: 110px;
    font-weight: 800;
    margin-bottom: 15px;
    color: rgb(121, 15, 82);
    font-family: 'Poppins', sans-serif;
}

.hero-title span {
    color: rgb(85, 12, 58);
}

.lead {
    font-size: 1.4rem;
    max-width: 700px;
    margin: 0 auto 40px auto;
    color: white;
    opacity: 0.95;
}

.hero-info {
    display: flex;
    gap: 25px;
    justify-content: center;
    margin-bottom: 45px;
}

.info-box {
    display: flex;
    align-items: center;
    gap: 10px;
    background: rgba(255,255,255,0.1);
    padding: 12px 25px;
    border-radius: 50px;
    backdrop-filter: blur(6px);
    font-size: 1.1rem;
    color: white;
}
.btn {
    display: inline-block;
    padding: 12px 25px;
    border-radius: 8px;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s ease;
}

.btn-primary {
    background: rgb(85, 12, 58);
    color: white;
}

.btn-primary:hover {
    background: white;
    color: rgb(85, 12, 58);
}

.btn-outline {
    border: 2px solid rgb(85, 12, 58);
    color: rgb(85, 12, 58);
}

.btn-outline:hover {
    background: rgb(158, 17, 106);
    color: white;
}

.main-banner-actions .btn {
    margin: 0 10px;
    font-size: 1.1rem;
    padding: 12px 28px;
    border-radius: 6px;
    transition: 0.25s ease;
}

.main-banner-actions .btn:hover {
    transform: translateY(-3px);
    opacity: 0.9;
}
.section {
    padding-top: 90px;
    padding-bottom: 92px;
   
}

.section-title {
    font-size: 42px;
    font-weight: 750;
    margin-bottom:20px;
    color: #550c3a;
}

.section-sub {
max-width: 600px;
margin-bottom: 20px;   
opacity: 0.8;
font-size: 18px;
}

#lineup .section-title {
    font-size: 42px;
    font-weight: 800;
    margin-bottom: 10px;
    text-align: left !important;
}

#lineup .section-sub {
    font-size: 20px;
    color: #A9B7C8;
    max-width: 600px;
    line-height: 1.6;
    text-align: left !important;
    margin-bottom: 35px;
}

.lineup-controls {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin-bottom: 15px;
    padding-right: 20px;
}

.lineup-btn {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid rgba(255,255,255,0.4);
    background: rgba(255,255,255,0.05);
    color: white;
    font-size: 22px;
    cursor: pointer;
    backdrop-filter: blur(4px);
    transition: 0.2s ease;
}

.lineup-btn:hover {
    background: white;
    color: black;
}

.lineup-slider {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    padding-bottom: 20px;
}

.lineup-slider::-webkit-scrollbar {
    display: none;
}

.lineup-card {
    flex: 0 0 260px;
    width: 460px;
    height: 400px;
    border-radius: 15px;
    overflow: hidden;
    scroll-snap-align: center;
    position: relative;
    background-size: cover;
    background-position: center;
    transition: transform 0.2s ease;
}

.lineup-card:not(:hover) {
    transform: scale(.85);
    opacity: 0.95;
}

.lineup-overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 18px;
    color: #fff;
    z-index: 2;
    background: linear-gradient(to top, rgba(0,0,0,0.7), rgba(0,0,0,0));
}


.lineup-card.dua { background-image: url('https://upload.wikimedia.org/wikipedia/commons/1/16/Glasto24_28_300624_%28259_of_545%29_%2853838014719%29_%28cropped%29.jpg'); }
.lineup-card.calvin { background-image: url('https://i.pinimg.com/736x/cf/b0/e9/cfb0e9ea96f08b40dfc2bb1359297e04.jpg'); }
.lineup-card.rihanna { background-image: url('https://i.pinimg.com/736x/64/da/10/64da10b183e974165ee66da615e5f664.jpg'); }
.lineup-card.yll { background-image: url('https://i.pinimg.com/736x/6e/77/7d/6e777d371c38789dcda1f6a5e9c12fb1.jpg'); }
.lineup-card.elvana { background-image: url('https://i.pinimg.com/736x/b9/2e/25/b92e25c41298f11beac383e4b0fc4325.jpg'); }
.lineup-card.gashi { background-image: url('https://i.pinimg.com/1200x/44/94/eb/4494eb3fcd453341558a7fa701f87615.jpg'); }